# Compiled class file
*.class
*.project
*.DS_Store
# Log file
*.log
*.settings
# BlueJ files
*.ctxt
*.classpath
# Mobile Tools for Java (J2ME)
.mtj.tmp/
*.springBeans
# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
/target
/logs 
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
